.info {
    width: 100%;
    background-color: lightblue;
    height: auto;
    padding: 5%;
    flex: auto;
}

.content {
    font-size: 0;
    /* Remove inline-block space */
}

.left,
.right {
    width: 50%;
    height: 65vh;
    overflow-y: auto;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    vertical-align: top;
    padding: 10px; 
    border: 1px solid #ccc;
    max-height: 65vh;
}


table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}